.navbar{
    display: flex;
    background-color: #2C3130!important;
  }

  .navbar .nav-link {
    display: flex;
    color: #76B82A!important;
  }

  .navbar-nav{
    display: flex; 
    flex-direction: row;
    justify-content: right;
    text-align: right;
    font-size: 20px;
    margin: 0 auto;
  }

  .navbar-nav{
    list-style: none;
    text-align: center;
 }
 
 .nav ul {
    display: inline-block;
 }