  * {
    box-sizing: border-box; 
  }
  /* header {
    background-color:  #323540;
    max-height: 75px;
    padding: 20px;
    color: lightgrey;
  } */

  /* .navbar {
    background-color: #2C3130 !important;
    color:#76B82
  } */

  .navbar-brand { 
    color: #76B82A !important;
  }

  .nav-link {
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin-right: 10px;
    color: #76B82A !important;
  }
  
  .navbarNav {
    color: white !important;
  }
  .profile-container {
    display: flex;
    flex-direction: column;
  }

  .display-4 {
    display: flex;
    color: #185164;
  }

  /* .lead {
    color: white#185164;
  } */

  .content-skills {
    background-color: lightblue;
    margin: 0;
  }

  .sectionHeadingSkills {
    display: flex;
    justify-content: center;
    padding: 20px;
    
  }
  a:hover {
    background-color: pink;
  }

  button:hover {
    background-color: lightblue;
  }
  /* navbar-nav {
    text-align: center;
  } */