.body {
    color: aliceblue;
}

.col-10{
    margin-top: 30px;
    margin-bottom: 60px;
    
}
h3{
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !important;
    color: #76B82A!important; 
}

.p {
    display: flex;
    direction: row;
    text-align: center;
}