.container {
  margin-top: 50px;
  margin-bottom: 50px;
}

h1,
h2,
h3 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #76b82a;
}

@media (min-width: 768px) {
  /* Adjust layout for medium-sized screens */
  .container {
    margin-top: 100px;
    margin-bottom: 100px;
  }
  .col-md-4 {
    padding-top: 50px;
  }
  h1 {
    font-size: 3rem;
    font-style: italic;
  }
}

@media (min-width: 992px) {
  /* Adjust layout for large screens */
  .col-md-4 {
    padding-top: 0;
  }
}